<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/workspaces.css" />
    <title>Mock Server / Workspaces</title>
</head>

<body>
    <div class="page-workspaces">
        <button class="add-workspace-cta button" onclick="clickCreate()">add workspace</button>
        {{#if workspaces.length}}
        <div class="workspaces-container">
            {{#each workspaces}}
            <a href="/workspace/{{id}}">
                <div class="workspace">
                    <i class="fas fa-trash-alt delete" onclick="removeWorkspace(event, '{{id}}')"></i>
                    <i class="fas fa-pencil-alt edit" onclick="editWorkspace(event, '{{id}}')"></i>
                    <h1 class="title">
                        {{name}}
                    </h1>
                    <h3 class="description">
                        {{description}}
                    </h3>
                </div>
            </a>
            {{/each}}
        </div>
        {{else}}
        <div class="no-ws">
            <div class="no-ws-title">
                No workspaces found. Create a new one!
            </div>
        </div>
        {{/if}}
        <div class="create-ws-container hidden">
            <div class="create-ws-card">
                <i class="fas fa-times close" onclick="closeCreate()"></i>
                <h4>Workspace Detail</h4>
                <input name="name" placeholder="Name" onkeyup="changeName(event)">
                <input name="description" placeholder="Description" onkeyup="changeDescription(event)">
                <button class="create-cta button" onclick="createWorkspace()">create</button>
            </div>
        </div>
    </div>
    <script src="/scripts/workspaces.js"></script>
</body>

</html>